body{
background: rgb(76,253,255);
background: linear-gradient(0deg, rgba(76,253,255,1) 0%, rgba(255,255,255,1) 100%);
height: 100vh;
}

#main-container{
box-shadow: 8px 50px 102px -33px rgba(0,0,0,0.55);
-webkit-box-shadow: 8px 50px 102px -33px rgba(0,0,0,0.55);
-moz-box-shadow: 8px 50px 102px -33px rgba(0,0,0,0.55);
}

#box-1{
margin-left: -12px;
}

#box-1 img{
width: 100%;
height: 100%;
opacity: .6;
}

#temperature{
position: absolute;
top: 63%;
left: 15%;
font-size: 4rem;
}

#city{
position: absolute;
top: 66%;
left: 35%;
font-size: 3rem;
}

#currenttime{
position: absolute;
top: 30%;
left: 50%;
font-size: 1rem;
}